<?xml version="1.0" encoding="utf-8"?>
<Package 
	xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" 
	xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
	xmlns:desktop4="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4"
    xmlns:desktop5="http://schemas.microsoft.com/appx/manifest/desktop/windows10/5"
	xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" 
	xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities" 
	xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" 
	xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
	xmlns:com="http://schemas.microsoft.com/appx/manifest/com/windows10"
	IgnorableNamespaces="uap mp desktop desktop4 desktop5 rescap uap3 com">
  <Identity Name="3efc360b-74f9-4448-843e-0815d95c1b9d" Publisher="CN=Convex MacroLabs" Version="1.0.3.1" />
  <mp:PhoneIdentity PhoneProductId="3efc360b-74f9-4448-843e-0815d95c1b9d" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>InfiniteViewer</DisplayName>
    <PublisherDisplayName>Convex MacroLabs</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="InfiniteViewer.App">
      <uap:VisualElements DisplayName="InfiniteViewer" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Infinite Viewer" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="InfinityViewer" Square310x310Logo="Assets\LargeTile.png" Square71x71Logo="Assets\SmallTile.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExecutionAlias" Executable="InfiniteViewer.exe" EntryPoint="InfiniteViewer.App">
          <uap3:AppExecutionAlias>
            <desktop:ExecutionAlias Alias="InfiniteViewer.exe" />
          </uap3:AppExecutionAlias>
        </uap3:Extension>
        <uap:Extension Category="windows.fileTypeAssociation">
          <uap3:FileTypeAssociation Name="imagefiles">
            <uap:Logo>Assets\Square44x44Logo.png</uap:Logo>
            <uap:SupportedFileTypes>
              <uap:FileType>.bmp</uap:FileType>
              <uap:FileType>.jpg</uap:FileType>
              <uap:FileType>.png</uap:FileType>
              <uap:FileType>.gif</uap:FileType>
              <uap:FileType>.webp</uap:FileType>
              <uap:FileType>.jpeg</uap:FileType>
            </uap:SupportedFileTypes>
          </uap3:FileTypeAssociation>
        </uap:Extension>
		<desktop4:Extension Category="windows.fileExplorerContextMenus">
			  <desktop4:FileExplorerContextMenus>
				  <desktop5:ItemType Type="Directory">
					  <desktop5:Verb Id="BrowseWithIV2" Clsid="E1742A23-ED4B-4AED-9DD2-30963A98BFF7" />
					  <desktop5:Verb Id="BrowseWithIV" Clsid="D5DCBA98-BCF4-11EC-9D64-0242AC120002" />
				  </desktop5:ItemType>
				  <desktop5:ItemType Type="Directory\Background">
					  <desktop5:Verb Id="BrowseWithIV2" Clsid="E1742A23-ED4B-4AED-9DD2-30963A98BFF7" />
					  <desktop5:Verb Id="BrowseWithIV" Clsid="D5DCBA98-BCF4-11EC-9D64-0242AC120002" />
				  </desktop5:ItemType>
			  </desktop4:FileExplorerContextMenus>
		  </desktop4:Extension>
		  <com:Extension Category="windows.comServer">
			  <com:ComServer>
				  <com:SurrogateServer  DisplayName="Context menu verb handler">
					  <com:Class Id="E1742A23-ED4B-4AED-9DD2-30963A98BFF7" Path="InfiniteViewerContextMenu.dll" ThreadingModel="STA"/>
					  <com:Class Id="D5DCBA98-BCF4-11EC-9D64-0242AC120002" Path="ContextMenuDLL.dll" ThreadingModel="STA"/>
				  </com:SurrogateServer>
				  </com:ComServer>
		  </com:Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
	<rescap:Capability Name ="runFullTrust" />
    <rescap:Capability Name="broadFileSystemAccess" />
  </Capabilities>
</Package>